.itemt{
    margin: 2rem 2rem;
}
.taskitems{
    display:flex ;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}
.hero{
    height:60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}
.itask{
    width: 250px;;
    padding:0.5rem;
}